.container {
    width: 400px;
    background-color: #db2626;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: align; 
  }
  
  h1 {
    color: #f33838;
    
  }
 
  